body{
    margin: 0;
    padding: 0;
}

.modalbackground{
    top: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 100;
    opacity: 1;
    pointer-events: auto;


}
.modal_btn{
    margin: 0 auto;
    color: black;
    font-size: 20px;
}

.modalwindow{
    width: 100%;
    max-width: 600px;
    margin: 1% auto;
    padding: 2%;
    background: white;
    border-radius: 3px;


}
.modalwindow form{
    padding: 0;
    margin: 0;
}
.modal_btn{
    display: block;
    margin: 0 auto;
}
.modalwindow a{
    display: flex;
    justify-content: right;
    text-decoration: none;
    color: darkred;
}
h1{
    text-align: center;
}
a{
    text-decoration: none;
    color: darkred;

}
.cards_inner{
    display: flex;
    justify-content: space-around;
    margin: 5em;
}
.cards_item{
    width: 33%;
    text-align: center;
}
.form_create{
    text-align: center;
    width: 550px;
    margin: 0 auto;
}
textarea{
    resize: none;
    width: 40%;
    height: 80px;
}
h4{
    text-align: left;
}
.h2_done_t{
    color: darkgreen;
    text-decoration: underline;
}
.h2_done{
    color: darkred;
    text-decoration: underline;
}
li{

    text-align: left;
}
.input_comm{
    margin-bottom: 10px;
}
.column_div{
    border: 2px solid cadetblue;
    width: 80%;
    margin: 2rem auto;
    padding-bottom: 1rem;


}
.formEdit{
    margin: 20px 0;
}
.column_btn{
    background-color: red;
    color: white;
    border-radius: 50%;
    font-width:bold;
    border: 1px solid gainsboro;
}
.done{
    text-decoration: line-through;
    text-decoration-color: darkred ;
    text-decoration-thickness: 2px
}
.form_div{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}
label{
    margin: 0 2em;
}

.form_input{
    border: 2px solid cadetblue;
    border-radius: 1em;
    padding: 5px 10px;
}
.form_input_card{
    border: 2px solid cadetblue;
    border-radius: 1em;
    padding: 5px 10px;
    width: 80%;
}
.fort_submit{
    border: 2px solid cadetblue;
    background-color: cadetblue;
    color: white;
    border-radius: 1em;
    padding: 5px 10px;
}

/* animation */
